<% provide(:title, 'Home') %>
<head>
  <%= javascript_include_tag 'jquery.vticker', 'custom1' %>
</head>
<div id="container">
  <div id="banner"></div>
  <div id="announcement_feed">
  <ul>
    <%= display_recent_annc() %>
  </ul>
  </div> 
  <div id="body" class="container-fluid">
    <div class="row-fluid">
      <div id="sidebar" class="span16">
        <div class="well sidebar-nav">
            <table>
              <tr>
                <th id="treecontrol">
                  <a class="btn btn-small btn-primary disabled" title="Collapse the entire tree below" href="#">Collapse All</a> 
                  <a class="btn btn-small btn-primary disabled" title="Expand the entire tree below" href="#">Expand All</a>
                </th>
                <th>
                  <a class="btn btn-small btn-primary disabled" href="/node/graphview">Graph View</a>
                </th>
            </table>
            <ul id="my_tree" class="nav nav-list">
              <%= display_segment(@root_node, @user_admin) %>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>



