@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: 'Raleway';
  background-color:rgb(46, 43, 46);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
/* typography */


/* header */
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 80em;
}
.container {
  width: 80em;
  padding: 5px;
}

#CALNET {
  width: 100px;
  background: #FFF;
  color: #3366FF;
  font-weight:900;
  border: solid 1px #3366FF;
}

.hero-unit {
  background-image: url(/assets/banner.jpg);  
  width: 1020px; 
  height: 300px;  
}

#body {
  margin-top: 17px;
  padding-left: 0px;
  font-size: 15.5px;
  font-family: "Raleway";
}

/* sidebar */
.tree_func {
  margin-left: 5px;
  padding: 1px;
  font-size: 10px;
  background: #ddd;
  color: rgb(0, 136, 204);
}

/* content */
#popular_bar {
  background: #eec;
  height: auto;
  border: solid 1px #ccc;
}

#popularHeader {
  background-color: #ddd;
  padding: 3px;
  border-bottom: solid 1px, #ccc;
  h4 {
    padding-left: 10px;
  }
}

#popularBody {
  padding-top: 5px;
  ul {
    padding-left: 5px;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small {
  	display: block; 
    margin: auto; 
    text-align: center;
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#notice {
  width: 1095px;
}

#error {
  width: 1095px;
}

#announcement_feed{
  padding-top: 1.5px;
  padding-bottom: 1px;
  text-align: center;
  ul {
    display: inline-block;
  }
  li, a {
    list-style: none;
    font-size: 16px;

  }
}

/* complaint */
.complaint {
  background: #eee;
  border: solid 2px;
  padding: 10px;
  margin-bottom: 15px; 
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}