<footer class="footer">
  <small>
    <div id="online_counter">
      <%= pluralize(@online_people, 'person') %> online, <%= pluralize(@online_registered, 'user') %> registered
    </div>
    <h5>Copyright 2013 </h5>
    <p>Phuc-Hai Lu Huynh, Minh Luong, Jacky Ng, Jimmy Wu</p>
  </small>
</footer>