<header>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		  <a class="brand" href="/">ISG 2.0</a>
		  <ul class="nav">
		    <li class="active"><a href="/">Home</a></li>
		    <li><a href="http://inst.eecs.berkeley.edu/~inst/">About Us</a></li>
		    <li><a href="http://inst.eecs.berkeley.edu/faq.html">FAQ</a></li>
		  </ul>
		  <form class="navbar-form pull-right">
		    <button type="submit" id="CALNET" class="btn">CALNET Sign In</button>
		  </form>
		</div>
	</div>
</div>
</header>
