<header>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		  <a class="brand" href="/">ISG 2.0</a>
		  <ul class="nav">
		    <li class="active"><a href="/">Home</a></li>
		    <li><a href="http://inst.eecs.berkeley.edu/~inst/">About Us</a></li>
		    <li><a href="http://inst.eecs.berkeley.edu/faq.html">FAQ</a></li>
		  </ul>
		  <div class="navbar-form pull-right">
		  	<% if @calnet_id.nil? %>
		  		<%= button_to "Calnet sign-in", @login_url, :class => "btn" %>
	  		<% else %>
	  			Welcome, <%= @user_fullname %>!
		  		<!-- <%= button_to "Sign-out", user_logout_path, :class => "btn" %> -->
	  			(<a href=<%=user_logout_path%>>sign out</a>)
	  		<% end %>
		  </div>
		</div>
	</div>
</div>
</header>
